*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button,
li {
  font-family: "Montserrat", "sans-serif";
}

nav{
    display: flex;
    /* flex-direction: row; */
    gap: 5px;
    position: fixed;
    top: 0;
    /* left: 0; */
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #113448;
    padding: 1rem 3rem;
    /* color: white; */
    z-index: 100;
}


nav img{
    height: 2rem;
}

nav ul{
    display: flex;
    list-style: none;
    /* margin: 0;
    padding: 0; */
    align-items: center;
    gap: 1rem;
    text-transform: capitalize;
}

nav a{
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

nav a:hover{
    color: #14bf98;
}

nav ul .icon{
    cursor: pointer;
    background-color: #14bf98;
    clip-path: polygon(0 25%, 0 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0);
    padding:0.75rem;
}

nav ul .icon:hover{
    background-color:white;
}

nav ul .icon:hover a{
    color: #14bf98;
  }




  .home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
      url("./assets/header-background.jpg");
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    /* gap: 0rem; */
  }
  
  
  .home h1 {
    text-transform: uppercase;
    margin: 0;
    font-size: 4rem;
  }
  
  .home p {
    font-size: 1.5rem;
    width: 60%;
  }
  
  button {
    cursor: pointer;
    border: 1px solid #14bf98;
    background-color: #14bf98;
    color: white;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border-radius: 5px;
    transition: all 2s ease-in-out;
    font-weight: 700;
    font-size: 0.75rem;
  }
  
  button:hover {
    background-color: transparent;
    color: #14bf98;
  }
  