.pbox{
    border: 2px solid black;
    background-color: burlywood;
   
}

.box{
    border: 2px dotted brown;
    width: 100px;
    height: 20%;
    padding: 2px;
    margin: 10px;
}



#id1{
    background-color: red;
}

#id2{
    background-color: orange;
}

#id3{
    background-color: blue;
}

#id4{
    background-color: thistle;
}