div{  
    font-size: 40px;
    width: 30%;
    height: 100px;
    /* border: 2px solid black; */
    position: relative;
}

#id1{
    background-color: orange;
    /* position: fixed; */
    position:sticky ;
    top : 100px;
}

#id2{
    background-color: yellow;
    /* position: relative; */
    /* left: 70%; */
    /* left: auto */
    /* top: 100px; */
    
}
p{
    position: relative;
    top: 50%;
    left: 50%;
}

#id3{

    background-color: red;
    /* position: absolute; */
    /* top: 100px; */
    
}

#id4{
    background-color: lightblue;
    width:100vw
}