*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

.material-icons{
    color:rgb(97, 97, 97);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 15px;
}

.header_left{
    display: flex;
    align-items: center;
}

.header img{
    width: 50px;
    margin-left: 10px;
}

.header_left i{
    cursor: pointer;
}


.header_search{
    display: flex;  
}

.header_search form{
    display: flex;  
    /* border: 1px solid rgb(155, 152, 152); */
    margin: 0;
    padding: 0;
    border: none;
}

.header_search input{
    width: 500px;
    border-radius: 20px;
    padding-left: 10px;
    height: 100%;
    
}

.header_search button{
    margin-left: 10px;
}

.main{
    display: flex; 
}


.sidebar{
    width: 230px;
}




